.add-medicine-page1 {
    width :412px;
    min-height: 917px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 30px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    font-family: "Parkinsans", sans-serif;
    position:relative;
    overflow: hidden;
}
.Aback-button {
  width: 50px;
  height: 50px;

  border: none; 
  border-radius: 10px; 

  background-color: #ffffff;

  display: flex; 
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);

  transition: box-shadow 0.2s ease;
  padding: 0;

  
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.Aback-btn img {
  width: 24px; 
  height: 24px;
  display: block;
  object-fit: contain;
}
.add-medicine-card1 {
  width: 412px;
  height: 917px;                
  background: #ffffff;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin-left: -20px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 430px;
  margin-top:-20px;
}

.add-medicine-card1::-webkit-scrollbar {
  width: 6px;
}

.add-medicine-card1::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 0px;
}

.add-medicine-card1 .title {
  font-size: 40px;
  margin: 0;
}

.add-medicine-card1 .subtitle {
  font-size: 24px;
  margin: 0;
}


.subtitle {
  font-size: 14px;
  color: #0a8a8a;
  margin-bottom: 14px;
}

.tag-size-edit{
  font-size: 16px;
}
label {
  font-size: 12px;
  font-weight: 600;
  display: block;
  margin-top: 14px;
  margin-bottom: 6px;
}

.text-input {
  width: 100%;
  height: 36px;
  border-radius: 20px;
  border: none;
  background: #e0e0e0;
  padding: 0 14px;
  font-size: 15px;
  outline: none;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  margin-top: 6px;
}

.meal-buttons {
  display: flex;
  gap: 40px;
  margin-top: 12px;
}

.meal-btn {
  flex: 1;
  height: 35px;
  border-radius: 18px;
  border: none;
  background: #0a8a8a;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  margin-left: 30px;
}

.date-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
  margin-left: 30px;
  
}

.date-btn {
  flex: 1;
  height: 32px;
  border-radius: 18px;
  border: none;
  background: #dcdcdc;
  font-size: 16px;
}

.date-btn.active {
  background: #0a8a8a;
  color: white;
}

.time-scroll {
  display: flex;
  gap: 18px;
  overflow-x: auto;            
  padding-bottom: 6px;
  width: 430px;
  margin-top: 10px;
}

.time-scroll::-webkit-scrollbar {
  height: 7px;

}

.time-scroll::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 6px;
}

.checkbox-col {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.1;  
}

.reminder-type-head{
  font-size: 16px;
  margin-top: 11px;
  margin-bottom: 8px;
}
.checkbox-col label,
.checkbox-col p,
.checkbox-col span {
  margin: 0;          
  padding: 0;
}

.add-action-btn {
  display: flex;              
  justify-content: center;   
  align-items: center;
  gap: 12px;                
  margin-top: 10px;
  margin-right: -25px;
}

.add-action-btn button {
  width: 180px;
  height: 35px;
  border-radius: 18px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.setR {
  background: #0a8a8a;
  color: white;
  
}

.distant {
  background: #e6f4f4;
  color: #0a8a8a;
}

.setR {
  margin-top: 14px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background: #0a8a8a;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.distant {
  margin-top: 10px;
  height: 36px;
  border-radius: 20px;
  border: none;
  background: #20c997;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.meal-btn.active,
.date-btn.active {
  background: #7fd1cf;
  color: white;
}

