.reminder2-page {
  width :412px;
    min-height: 917px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    gap: 10px;
    padding: 30px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    
    position:relative;
    overflow: hidden;
}

.reminder2-card {
  width: 412px;
  height: 917px;
  background: #ffffff;
  border-radius: 22px;
  padding: 30px 20px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}

.reminder2-image {
  width: 420px;          
  height: 420px;

  max-width: none;     
  margin-bottom: 30px;
}

.reminder2-title {
  font-size: 40px;
  font-weight: 700;
  margin: 0;
  margin-top: -50px;
}

.reminder2-subtitle {
  font-size: 24px;
  color: #0a8a8a;
  margin: 6px 0 28px;
}

.reminder2-btn {
  width: 200px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background: #0a8a8a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
