.editPage{
    width :412px;
    min-height: 917px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 30px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    font-family: "Parkinsans", sans-serif;

    position:relative;
    overflow: hidden;
}

.Eback-button {
  width: 50px;
  height: 50px;

  border: none; 
  border-radius: 10px; 

  background-color: #ffffff;

  display: flex; 
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);

  transition: box-shadow 0.2s ease;
  padding: 0;

  
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

.Eback-btn img {
  width: 24px; 
  height: 24px;
  display: block;
  object-fit: contain;

}
.edit-header {
  font-family: "Montserrat", sans-serif;
    margin:0;
    text-align: left;
    font-size: 20px;
    margin-right: 260px;
    margin-bottom: 20px;
    margin-top: 17px;
}

.E1,.E2{
  margin: 0;              
  line-height: 1.1; 
  margin-right: 60px;
 
}
.E1{
    font-size: 40px;
}

.E2{
    font-size: 24x;
    
}
.edit-cards{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.edit::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160%;

  opacity: 0.15      ;

  z-index: 0;

  transform: scale(1.2) translate(20px, 30px);
}

.edit > * {
  position: relative;
  z-index: 1;
}