.edit-medicine-page {
    width :412px;
    min-height: 917px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;


    gap: 10px;
    padding: 30px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    
    position:relative;
    overflow: hidden;
}

.edit-medicine-card {
  width: 430px;
  height: 917px;
  background: #ffffff;
  border-radius: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin-top: -23px;
  margin-right: 25px;
}

.edit-back-button {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);
  margin-bottom: 10px;
}

.edit-back-button img {
  width: 24px;
  height: 24px;
}

.edit-title {
  font-size: 40px;
  margin: 0;
}

.edit-subtitle {
  font-size: 24px;
  color: #0a8a8a;
  margin-bottom: 5px;
  margin-top: -3px;
}

.edit-tag {
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 6px;
  display: block;
}

.edit-input {
  width: 100%;
  height: 36px;
  border-radius: 20px;
  border: none;
  background: #e0e0e0;
  padding: 0 14px;
  font-size: 15px;
}

.edit-checkbox-row {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 11px;
  margin-top: 6px;
}

.edit-meal-buttons {
  display: flex;
  gap: 40px;
  margin-top: 12px;
}

.edit-meal-btn {
  flex: 1;
  height: 35px;
  border-radius: 18px;
  border: none;
  background: #0a8a8a;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.edit-date-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.edit-date-btn {
  flex: 1;
  height: 32px;
  border-radius: 18px;
  border: none;
  background: #dcdcdc;
}

.edit-date-btn.active {
  background: #0a8a8a;
  color: white;
}

/* TIME */
.edit-time-scroll {

  display: flex;
  gap: 18px;
  overflow-x:scroll;
  margin-top: 5px;
}


.edit-reminder-head {
  font-size: 16px;
  margin-top: 11px;
  margin-bottom: 8px;
}

.edit-checkbox-col {
  font-size: 14px;
}

.edit-save,
.edit-cancel {
  font-size: 16px !important;
  font-weight: 600;
}

.edit-action-btn {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}


.edit-action-btn button {
  font-size: 18px;   
  font-weight: 600; 
}


.edit-action-btn button {
  width: 180px;
  height: 36px;
  border-radius: 20px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.edit-save {
  background: #0a8a8a;
  color: white;
  font-size: 16px;
}

.edit-cancel {
  background: #20c997;
  color: white;
  font-size: 16px;
}

.edit-meal-btn.active,
.edit-date-btn.active {
  background: #7fd1cf;
  color: white;
}

