.feedback-page {
  width :412px;
    min-height: 917px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    font-family: "Parkinsans", sans-serif;
    padding: 30px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
    position:relative;
    overflow: hidden;
}

.fback-button {
  width: 50px;
  height: 50px;

  border: none; 
  border-radius: 10px; 

  background-color: #ffffff;

  display: flex; 
  justify-content: center;
  align-items: center;

  cursor: pointer;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.18);

  transition: box-shadow 0.2s ease;
  padding: 0;

  
  min-width: 50px;
  min-height: 50px;
  max-width: 50px;
  max-height: 50px;
  margin-top: 10px;
}

.fback-btn img {
  width: 24px; 
  height: 24px;
  display: block;
  object-fit: contain;

}

.feeback-align{
    margin-right: 15px;
    margin-left: -15px;
}
.feedback-head-text{
    margin-top: 20px;
}

.feedback-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.feedback-title {
  font-size: 40px;
  margin: 0;
}

.feedback-subtitle {
  font-size: 24px;
  color: #0a8a8a;
  margin-bottom: 20px;
}

.customer-care-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.section-title {
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
  gap:10px;
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin: 10px 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.primary-btn {
  width: 200px;
  height: 36px;
  background: #0a8a8a;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 10px;
}

.secondary-btn {
  width: 200px;
  height: 36px;
  background: #10cccc;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
}

.question-block {
  margin-bottom: 10px;
}

.question-block p {
  font-size: 15px;
  margin-bottom: 4px;
  
}

.question-block input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  border: none;
  background: #f0f0f0;
  padding: 0 12px;
  font-size: 14px;
}

.stars {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
  margin-top: -30px;
}

.star {
  font-size: 40px;
  color: #ccc;
  cursor: pointer;
}

.star.active {
  color: #000;
}

.fsubmit-btn {
  width: 140px;
  height: 36px;
  background: #0a8a8a;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-bottom: 80px;
}

.feedback::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 160%;

  opacity: 0.15      ;

  z-index: 0;

  transform: scale(1.2) translate(20px, 30px);
}

.Feedback> * {
  position: relative;
  z-index: 1;
}