.medicine-cardd {
  width: 400px;
  height: 85px;
  background: #ffffff;
  border-radius: 18px;
  padding: 18px 18px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;
}


.card-textt{
  padding-top: 6px;
  
  display: flex;
  flex-direction: column;
  margin: 0%;
 
}
/* TEXT */
.card-textt h3 {
  margin: 0;
  font-size: 19px;
}

.card-textt .time {
  font-size: 13px;
  margin: 0;
  
}

.card-textt .desc {
  font-size: 12px;
  margin: 0;
  margin-bottom: 10px;
  color: #777;
}

/* RIGHT SIDE */
.card-actionss {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 8px;
  margin-bottom: 20px;
  margin-right: 9px;
}

/* SWITCH */
.switchh {
  position: relative;
  margin-bottom: 20px;
  width: 54px;
  height: 22px;
}

.switchh input {
  display: none;
}

.sliderr {
  background: #ccc;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  
}

.switchh input:checked + .sliderr {
  background: #0a8a8a;
}

.sliderr::before {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  transition: 0.3s;
}

.switchh input:checked + .sliderr::before {
  transform: translateX(32px);
}

/* EDIT BUTTON */
.edit-button {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: none;
  background: #0a8a8a;
  color: white;
  cursor: pointer;
  font-size: 14px;
}



.edit-button:disabled {
  background: #aaa;
  cursor: not-allowed;
}

/* INACTIVE CARD */
.medicine-cardd.inactive {
  opacity: 0.6;
}

.medicine-cardd.inactive h3,
.medicine-cardd.inactive p {
  color: #3b3b3b;
}
