.Card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0px;

  border-radius: 14px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Card-container:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 22px rgba(0,0,0,0.3);
}
.Hcard {
  width: 140px;
  height: 160px;
  border-radius: 18px;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  transition: all 0.3s ease;
  position: relative;
  
}

/* ACTIVE CARD */
.Hcard.aactive {
  background: #ffffff;
  color: #000;
}

/* INACTIVE CARD */
.Hcard.iinactive {
  background: #f3f2f2;
  color: #777777;
}

.Hcard h3 {
  font-size: 13px;
  margin: 0;
}

.Htime {
  font-size: 11px;
  margin: 4px 0;
}

.Htime span {
  font-weight: 600;
}

.Hcard.aactive .Htime {
  color: #00a6ff;
}

.Hcard.iinactive .Htime {
  color: #aaa;
}

.desc {
  font-size: 10px;
  margin-bottom: 4px;
}

.b1 {
  width: 110px;
  height: 28px;

  background: #0aa;
  color: white;

  border: 1.5px solid #0aa;
  border-radius: 14px;

  font-size: 11px;
  font-weight: 600;

  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);

  cursor: pointer;
  
}

.card.inactive .b1 {
  border-color: #999;
  color: #999;
  cursor: not-allowed;
}

.Hswitch {
  width: 90px;
  height: 26px;
  margin: 4px 0;
  position: relative;
  
  margin-left: -7px;
  margin-bottom: 10px;
}

.Hswitch input {
  display: none;
}

.Hslider {
  width: 100%;
  height: 100%;
  background: #dcdcdc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-left: 19px;
  justify-content: space-between;
  padding: 0 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  font-size: 9px;
  font-weight: 600;
  color: #666;
  box-shadow: #666;
  
}

/* SLIDER CIRCLE */
.Hslider::before {
  content: "";
  width: 34px;
  height: 20px;
  background: #0aa;
  border-radius: 16px;
  position: absolute;
  left: 3px;
  top: 3px;
  transition: 0.3s ease;
}

/* TEXT */
.Hon-text,
.Hoff-text {
  z-index: 2;
}

/* OFF STATE */
.Hswitch input:checked + .Hslider::before {
  transform: translateX(48px);
  background: rgb(255, 255, 255);
}

.Hswitch input:checked + .Hslider .Hon-text {
  color: rgb(71, 71, 71);
}

.Hswitch input:checked + .Hslider .Hoff-text {
  color: rgb(71, 71, 71);
}
.Hswitch input:checked + .Hslider .b1{
    cursor:auto;
    background: rgb(71, 71, 71);
}

.Hswitch input:not(:checked) + .Hslider .Hon-text,
.Hswitch input:not(:checked) + .Hslider .Hoff-text {
  color: white; 
}

